:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;

  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
}